* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}
.main-header_hamburger {
  height: 25px;
  width: 25px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 32px;
  font-style: italic;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem clamp(1rem, 5vw, 2rem);
}

.accomplishments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .accomplishments {
    grid-template-columns: 1fr;
  }
}

.microsoft-box {
  display: flex;
  background: #01a4ef;
  border: 1px solid #000000;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  order: 1;
  padding: 16px;
}
.billTextContainer {
  background-color: #b4b4b4;
  padding: 32px;
  height: fit-content;
  border-radius: 10px;
}

.billContainer {
  display: flex;
  scroll-margin-top: 50px;
}
.win95 {
  width: 25%;
  height: auto;
}
.bill {
  border-radius: 10px;
  margin-right: 16px;
  width: 200px;

}
.project-header {
  display: flex;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  border-radius: 10px;
  background-color: #dee0df;
  padding: 16px;
}
.main-header_nav {
  display: none;
}
.altair-img {
  width: 25%;
  height: auto;
}
.text {
  font-size: 16px;
}
#drop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 0 0;
}
.dropdown {
    font-size: 50px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.ms-logo {
  width: 50%;
  height: auto;
}
.win95-box {
  background-color: #ffb901;
  display: flex;
  border: 1px solid #000000;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  order: 2;
  padding: 16px;
}
.contact-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #dee0df;
  border-radius: 10px;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 15px 50px 30px 50px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  gap: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.social-icons a > img {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.footer-billy {
  position: relative;
}

.billys-smile {
  width: 134px;
  height: 134px;
  border-radius: 100%;
  object-fit: cover;
}

.contact-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  border-radius: 10px;
  height: 200px;
  align-items: center;
}
.ellipse {
  border: 1px solid black;
  border-radius: 100%;
  height: 30%;
}
.bmgf {
  background-color: #669551;
  display: flex;
  border: 1px solid #000000;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  order: 4;
  padding: 16px;
}
.altair-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: #f25022;
  border: 1px solid #000000;
  height: 100%;
  order: 3;
  padding: 16px;
}
.main-header_nav {
    display: flex;
    align-items: center;
    font-size: 25px;
}
.logo {
  height: 70px;
}
a {
    text-decoration: none;
    color: inherit;

}

@media (max-width: 900px) {
    .billys-smile {
        display: none;
    }
    .social-icons {
        min-width: 80px;
    }
    .project-header {
        flex-wrap: wrap-reverse;
    }
    .bill {
        border-radius: 100%;
    }
    .main-header_nav {
        font-size: 0;
    }
    .logo {
        height: 60px;
    }
}
nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  max-width: 50%;
}
nav a {
  display: inline;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

.contacts {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  text-transform: uppercase;
}
.drop-link {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.x-button {
    width: 100%;
    background-color: white;
    font-size: 50px;
}
@media (min-width: 900px) {
  .text {
    font-size: 20px;
  }
  .main-header_nav {
    display: flex;
  }
  .hamburger-button {
    display: none;
  }
  .bill {
      width: 450px;
  }

}
