* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: white;
}
.main-header_hamburger {
    height: 25px;
    width: 25px;
}

header{

    display: flex;
    justify-content: space-between;
    padding: 2rem clamp(1rem, 5vw, 2rem);
}
.microsoft-box {
    display: flex;
    background: rgba(238, 167, 171, 0.3);
    border: 1px solid #000000;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;

}
.billTextContainer{
    width: 50%;
    min-width: 300px;
}
.billContainer{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    scroll-margin-top: 50px;
}
.win95 {
    width: 25%;
    height: auto;
}
.bill {
    border-radius: 100px;
}
.project-header {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(37, 107, 26, 0.4);
    flex-wrap: wrap-reverse;
    justify-content: center;
    flex-direction: row;
}
.main-header_nav{
    display: none;
}
.altair-img {
    width: 25%;
    height: auto;
}
.text {
    font-size: 12px;
    width: 80%;
}
.ms-logo {
    width: 50%;
    height: auto;
}
.win95-box {
    background-color: #FFB901;
    display: flex;
    border: 1px solid #000000;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;

}
.bmgf {
    background-color: #669551;
    display: flex;
    border: 1px solid #000000;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.altair-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(189, 48, 48, 0.47);
    margin-bottom: 10px;



}

.logo {
    height: 60px;
}
nav{

flex: 1;
display: flex;
justify-content: space-evenly;
max-width: 50%;


}
nav a{

display: inline;
margin: 0;
padding: 0;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

@media (min-width:480px) {
    .text {
        font-size: 20px;
    }
    .main-header_nav{
        display: flex;
    }
   .main-header_hamburger{
        display: none;

}
}
